<!--LEADS-->
<!--DRAWERS-->
<div snap-drawers snap-options="opts">
</div>
<!--DRAWERS-->
<!--CONTENT-->
<div snap-content snap-options="opts">
    <!--NAVIGATION-->
    <nav id="header" class="main-navigation clearfix text-center">
        <ul class="left">
            <li data-toggle="modal" data-target="#backModal" ><a class="nav-pill-1">Cancel</a></li>
        </ul>
        <ul>
            <li>
                <h4 ng-show="convertStatus && !networkOfflineStatus" class="text-center text-uppercase">
                    <i class="fa fa-bullseye scrm_leads_i fa-fw fa-lg"></i>
                    Convert Lead
                </h4>
                <h4 ng-show="!convertStatus && !networkOfflineStatus" class="text-center text-uppercase">
                    <i class="fa fa-bullseye scrm_leads_i fa-fw fa-lg"></i>
                    <i class="fa fa-spinner fa-spin fa-fw fa-lg"></i>
                    Loading... 
                </h4>
            </li>
        </ul>
        <ul class="right">
            <li ng-click="convert()" ng-hide="form.$invalid"><a class="nav-pill-1 save" data-loading-text="Saving...">Save <i class="fa fa-save fa-fw fa-lg"></i></a></li>
        </ul>
    </nav>
    <!--NAVIGATION-->
    <!--WRAPPER-->
    <div id="wrapper">
        <!--SCROLLER-->
        <div id="scroller">
            <!--OFFLINE ALERT-->
            <div ng-show="networkOfflineStatus" class="text-center">
                <div class="list-group">
                    <div class="list-group-item">
                        <i class="text-warning fa fa-exclamation-circle fa-fw fa-2x"></i>
                        <h4 class="text-warning">Oops! Network Connection Lost or Something Went Wrong.</h4>
                        <h4 class="text-info">Tap below to try again</h4>
                        <a refresh class="fa fa-refresh fa-fw fa-2x"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="scroller-no-gutter-top-side">
            <div ng-show="convertStatus && !networkOfflineStatus && !leadConverted">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-click="makeActive('accounts')" ng-class="{'active' : tabStatus === 'accounts'}"><a role="tab" data-toggle="tab"><h5>Account</h5></a></li>
                    <li ng-click="makeActive('contacts')" ng-class="{'active' : tabStatus === 'contacts'}"><a role="tab" data-toggle="tab"><h5>Contact</h5></a></li>
                    <li ng-click="makeActive('opportunities')" ng-class="{'active' : tabStatus === 'opportunities'}"><a role="tab" data-toggle="tab"><h5>Opportunity</h5></a></li>
                </ul>
                <form novalidate role="form" class="form text-center" name="form">
                    <!--ACCOUNTS CONVERT-->
                    <div ng-show="tabStatus === 'accounts'" class="container-fluid">
                        <br>
                        <!--FIELDS-->
                        <div class="text-center">
                            <!--NAME-->
                            <span class="label scrm_red left" style="font-size:15px;" ng-show="form.name.$error.required">*</span>

                            <span class="label label-warning left" ng-show="form.name.$error.minlength">Too Short</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="name" class="cstm-bg-sec form-control input-sm" placeholder="Name" ng-model="account.name.value" ng-minlength="3" required >
                                </div>
                            </div>

                            <span class="labell scrm_red left" style="font-size:15px;" ng-show="form.email1.$error.required">*</span>

                            <span class="label label-danger left" ng-show="form.email1.$dirty && form.email1.$invalid">Invalid Email</span>                
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="email" name="email1" class="cstm-bg-sec form-control input-sm" placeholder="Email" ng-model="account.email1.value" required >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="website" class="cstm-bg-sec form-control input-sm" placeholder="Website" ng-model="account.website.value">
                                </div>
                            </div>

                            <span class="label scrm_blue_b text-uppercase left">Phone</span>
                            <!--OFFICE PHONE-->
                            <span class="label label-warning left" ng-show="phone_office_status">Too Short</span>
                            <span class="label label-warning left" ng-show="form.phone_office.$error.maxlength">Too Long</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="tel" name="phone_office" class="cstm-bg-sec form-control input-sm" placeholder="Office" ng-maxlength="13" ng-model="account.phone_office.value" format-number phone="account.phone_office.value" status="phone_office_status">
                                </div>
                            </div>
                            <!--ALTERNATE PHONE-->
                            <span class="label label-warning left" ng-show="phone_alternate_status">Too Short</span>
                            <span class="label label-warning left" ng-show="form.phone_alternate.$error.maxlength">Too Long</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="tel" name="phone_alternate" class="cstm-bg-sec form-control input-sm" placeholder="Alternate" ng-maxlength="13" ng-model="account.phone_alternate.value" format-number phone="account.phone_alternate.value" status="phone_alternate_status">
                                </div>
                            </div>

                            <span class="label scrm_blue_b text-uppercase left">Select Assigned To <i class="fa fa-chevron-down fa-fw"></i></span>
                            <div class="form-group">
                                <div class="input-group">
                                    <select class="cstm-bg-sec form-control input-sm" ng-model="account.assigned_user_id.value" ng-options="user.name_value_list.id.value as user.name_value_list.name.value for user in users" style="padding-top:0%;">
                                    </select>
                                </div>
                            </div>
                            <!--BILLING ADDRESS-->
                            <!--BILLING ADDRESS-->
                            <!--BILLING ADDRESS-->

                            <span class="label scrm_blue_b text-uppercase left">Billing Address</span>
                            <!--STREET-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input ng-keyup="copyFromBillingReal(account)" type="text" name="billing_street" class="cstm-bg-sec form-control input-sm" placeholder="Street" ng-model="account.billing_address_street.value">
                                </div>
                            </div>
                            <!--CITY-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input ng-keyup="copyFromBillingReal(account)" type="text" name="billing_city" class="cstm-bg-sec form-control input-sm" placeholder="City" ng-model="account.billing_address_city.value">
                                </div>
                            </div>
                            <!--STATE-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input ng-keyup="copyFromBillingReal(account)" type="text" name="billing_state" class="cstm-bg-sec form-control input-sm" placeholder="State" ng-model="account.billing_address_state.value">
                                </div>
                            </div>
                            <!--COUNTRY-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input ng-keyup="copyFromBillingReal(account)" type="text" name="billing_country" class="cstm-bg-sec form-control input-sm" placeholder="Country" ng-model="account.billing_address_country.value">
                                </div>
                            </div>
                            <!--POSTAL CODE-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input ng-keyup="copyFromBillingReal(account)" type="tel" name="billing_postalcode" class="cstm-bg-sec form-control input-sm" placeholder="Postal Code" ng-model="account.billing_address_postalcode.value">
                                </div>
                            </div>
                            <!--BILLING ADDRESS-->
                            <!--BILLING ADDRESS-->
                            <!--BILLING ADDRESS-->

                            <!--SHIPPING ADDRESS-->
                            <!--SHIPPING ADDRESS-->
                            <!--SHIPPING ADDRESS-->
                            <!--<h4 class="text-center">-->
                            <span class="label scrm_blue_b text-uppercase left">Shipping Address</span>
                            <span ng-click="copyFromBilling(account)" class="label right" ng-class="{'scrm_blue_b': cfbStatus, 'label-default' : !cfbStatus }">Copy From Billing</span>
                            <!--</h4>-->
                            <!--STREET-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="shipping_street" class="cstm-bg-sec form-control input-sm" placeholder="Street" ng-model="account.shipping_address_street.value">
                                </div>
                            </div>
                            <!--CITY-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="shipping_city" class="cstm-bg-sec form-control input-sm" placeholder="City" ng-model="account.shipping_address_city.value">
                                </div>
                            </div>
                            <!--STATE-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="shipping_state" class="cstm-bg-sec form-control input-sm" placeholder="State" ng-model="account.shipping_address_state.value">
                                </div>
                            </div>
                            <!--COUNTRY-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="shipping_country" class="cstm-bg-sec form-control input-sm" placeholder="Country" ng-model="account.shipping_address_country.value">
                                </div>
                            </div>
                            <!--POSTAL CODE-->
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="tel" name="shipping_postalcode" class="cstm-bg-sec form-control input-sm" placeholder="Postal Code" ng-model="account.shipping_address_postalcode.value">
                                </div>
                            </div>
                        </div>
                        <!--FIELDS-->
                    </div>
                    <!--ACCOUNTS CONVERT-->

                    <!--CONTACTS CONVERT-->
                    <div ng-show="tabStatus === 'contacts'" class="container-fluid">
                        <br>
                        <!--FIELDS-->
                        <div class="text-center">
                            <span class="label scrm_red left" style="font-size:15px;" ng-show="form.first_name.$error.required">*</span>

                            <span class="label label-warning left" ng-show="form.first_name.$error.minlength">Too Short</span>
                            <span class="label label-danger left" ng-show="form.first_name.$dirty && form.first_name.$invalid">Invalid First Name</span>                
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="first_name" class="cstm-bg-sec form-control input-sm" placeholder="First Name" ng-model="contact.first_name.value" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9 ]+$/" required >
                                </div>
                            </div>

                            <span class="label scrm_red left" style="font-size:15px;" ng-show="form.last_name.$error.required">*</span>

                            <span class="label label-warning left" ng-show="form.last_name.$error.minlength">Too Short</span>
                            <span class="label label-danger left" ng-show="form.last_name.$dirty && form.last_name.$invalid">Invalid Last Name</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="last_name" class="cstm-bg-sec form-control input-sm" placeholder="Last Name" ng-model="contact.last_name.value" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9 ]+$/" required >
                                </div>
                            </div>

                            <span class="label scrm_red left" style="font-size:15px;" ng-show="form.title.$error.required">*</span>

                            <span class="label label-danger left" ng-show="form.title.$dirty && form.title.$invalid">Invalid Title</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="title" class="cstm-bg-sec form-control input-sm" placeholder="Title" ng-model="contact.title.value" ng-pattern="/^[a-zA-Z0-9 ]+$/" required >
                                </div>
                            </div>

                            <span class="label scrm_blue_b left text-uppercase">Phone</span>
                            <!--MOBILE PHONE-->
                            <span class="label label-warning left" ng-show="phone_mobile_status">Too Short</span>
                            <span class="label label-warning left" ng-show="form.phone_mobile.$error.maxlength">Too Long</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="tel" name="phone_mobile" class="cstm-bg-sec form-control input-sm" placeholder="Mobile" ng-maxlength="13" ng-model="contact.phone_mobile.value" format-number phone="contact.phone_mobile.value" status="phone_mobile_status">
                                </div>
                            </div>

                            <span class="label scrm_blue_b text-uppercase left">Select Assigned To <i class="fa fa-chevron-down fa-fw"></i></span>
                            <div class="form-group">
                                <div class="input-group">
                                    <select class="cstm-bg-sec form-control input-sm" ng-model="contact.assigned_user_id.value" ng-options="user.name_value_list.id.value as user.name_value_list.name.value for user in users" style="padding-top:0%;"></select>
                                </div>
                            </div>
                        </div>
                        <!--FIELDS-->
                    </div>
                    <!--CONTACTS CONVERT-->


               <!--OPPORTUNITIES CONVERT-->
                    <div ng-show="tabStatus === 'opportunities'" class="container-fluid">
                        <br>
                        <!--FIELDS-->
                        <div class="text-center">
                      <span class="label scrm_red left" style="font-size:15px;" ng-show="form.opportunity_name.$error.required">*</span>


                            <span class="label label-warning left" ng-show="form.opportunity_name.$error.minlength">Too Short</span>
                            <span class="label label-danger left" ng-show="form.opportunity_name.$dirty && form.name.$invalid">Invalid 
Opportunity Name</span>                
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="opportunity_name" class="cstm-bg-sec form-control input-sm" placeholder="Opportunity Name" ng-model="opportunity.name.value" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9 ]+$/" required >
                                </div>
                            </div>


             <div class="form-group">
                    <div class="input-group">
                        <input type="tel" name="amount" class="cstm-bg-sec form-control input-sm" placeholder="Amount" ng-model="opportunity.amount.value">
                    </div>
                </div>

                <span class="label scrm_blue_b text-uppercase left">Select Sales Stage <i class="fa fa-chevron-down fa-fw"></i></span>
                <div class="form-group">
                    <div class="input-group">
                        <select class="cstm-bg-sec form-control input-sm" ng-model="opportunity.sales_stage.value" ng-options="salesStage.value as salesStage.name for salesStage in salesStages" style="padding-top:0%;"></select>
                    </div>
                </div>

 <span class="label scrm_blue_b text-uppercase left">Select Account<i class="fa fa-chevron-down fa-fw"></i></span>
                <div class="form-group">
                    <div class="input-group">
                        <select class="cstm-bg-sec form-control input-sm" ng-model="opportunity.account_id.value" ng-options="account.name_value_list.id.value as account.name_value_list.name.value for account in accountList" style="padding-top:0%;"></select>
                    </div>
                </div>
                         

                            <span class="label scrm_blue_b text-uppercase left">Select Assigned To <i class="fa fa-chevron-down fa-fw"></i></span>
                            <div class="form-group">
                                <div class="input-group">
                                    <select class="cstm-bg-sec form-control input-sm" ng-model="opportunity.assigned_user_id.value" ng-options="user.name_value_list.id.value as user.name_value_list.name.value for user in users" style="padding-top:0%;"></select>
                                </div>
                            </div>
                        </div>
                        <!--FIELDS-->
                    </div>
                    <!--OPPORTUNITIES CONVERT-->     



                </form>
            </div>

            <div ng-show="leadConverted" class="container-fluid text-center">
                <br>
                <h4 class="text-success">Lead Converted successfully!!!</h4>
                <h4 class="text-info">Created Account :</h4>
                <a class="list-group-item lead"
                   account-detail="{{accountID}}">
                    <h4 class="list-group-item-text text-capitalize">
                        {{accountName}}
                    </h4>
                </a>
                <h4 class="text-info">Created Contact :</h4>
                <a class="list-group-item lead"
                   contact-detail="{{contactID}}">
                    <h4 class="list-group-item-text text-capitalize">
                        {{contactFirstName}} {{contactLastName}}
                    </h4>
                    <small class="text-capitalize">{{leadDetail.title.value}}</small>
                </a>
                <h4 class="text-info">Created Opportunity :</h4>
                <a class="list-group-item lead"
                   opportunity-detail="{{opportunityID}}">
                    <h4 class="list-group-item-text text-capitalize">
                        {{opportunityName}}
                    </h4>
                </a>

            </div>
        </div>
    </div>
    <!--SCROLLER-->
</div>
<!--WRAPPER-->
<!--FOOTER-->
<footer class="container-fluid">
    <nav id="footer" class="main-navigation text-center" role="navigation">
        <ul class="text-center">
            <li>
                <a>
                    <small ng-show="form.$invalid" class="text-warning col-xs-12">Some Fields Required.</small>
                    <small ng-show="!form.$invalid" class="text-success">Everything looks okay.</small>
                </a>
            </li>
        </ul>
    </nav>
</footer>
<!--FOOTER-->
<!--The Back Modal-->
<div ng-include="'partials/back.html'"></div>
