<!--LEAD S-->
<form novalidate role="form" class="form text-center" name="form">
    <!--NAVIGATION-->
    <nav id="header" class="main-navigation clearfix text-center">
        <ul class="left">
            <li data-toggle="modal" data-target="#backModal" ><a class="nav-pill-1">Cancel</a></li>
        </ul>
        <ul>
            <li class="text-center">
                <h4 class="text-center text-uppercase">
                    <i class="fa fa-bullseye scrm_leads_i fa-fw fa-lg"></i>
                    {{type}}
                </h4>
            </li>
        </ul>
        <ul class="right">
            <li ng-click="save(lead)" ng-hide="form.$invalid"><a class="nav-pill-1 save" data-loading-text="Saving...">Save <i class="fa fa-save fa-fw fa-lg"></i></a></li>
        </ul>
    </nav>
    <!--NAVIGATION-->
    <!--WRAPPER-->
    <div id="wrapper">
        <!--SCROLLER-->
        <div id="scroller">
            <!--OFFLINE ALERT-->
            <div ng-show="networkOfflineStatus" class="text-center">
                <div class="list-group">
                    <div class="list-group-item">
                        <i class="text-warning fa fa-exclamation-circle fa-fw fa-2x"></i>
                        <h4 class="text-warning">Oops! Network Connection Lost or Something Went Wrong.</h4>
                        <h4 ng-hide="form.$invalid" class="text-info">Tap below to try saving again</h4>
                        <a ng-hide="form.$invalid" ng-click="save(account)" class="fa fa-save fa-fw fa-2x"></a>
                    </div>
                </div>
            </div>
            <!--FIELDS-->
            <div class="text-center">
                <span class="label scrm_red left"  style="font-size:15px;" ng-show="form.first_name.$error.required">*</span>

                <span class="label label-warning left" ng-show="form.first_name.$error.minlength">Too Short</span>
                <span class="label label-danger left" ng-show="form.first_name.$dirty && form.first_name.$invalid">Invalid First Name</span>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="first_name" class="cstm-bg-sec form-control input-sm" placeholder="First Name" ng-model="lead.first_name.value" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9 ]+$/" required >
                    </div>
                </div>

                <span class="label scrm_red left" style="font-size:15px;" ng-show="form.last_name.$error.required">*</span>

                <span class="label label-warning left" ng-show="form.last_name.$error.minlength">Too Short</span>
                <span class="label label-danger left" ng-show="form.last_name.$dirty && form.last_name.$invalid">Invalid Last Name</span>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="last_name" class="cstm-bg-sec form-control input-sm" placeholder="Last Name" ng-model="lead.last_name.value" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9 ]+$/" required >
                    </div>
                </div>

                <span class="label scrm_red left" style="font-size:15px;" ng-show="form.title.$error.required">*</span>

                <span class="label label-danger left" ng-show="form.title.$dirty && form.title.$invalid">Invalid Title</span>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="title" class="cstm-bg-sec form-control input-sm" placeholder="Title" ng-model="lead.title.value" ng-pattern="/^[a-zA-Z0-9 ]+$/" required >
                    </div>
                </div>
                
                <span class="label scrm_blue_b text-uppercase left">Select Status <i class="fa fa-chevron-down fa-fw"></i></span>
                <div class="form-group">
                    <div class="input-group">
                        <select class="cstm-bg-sec form-control input-sm" ng-model="lead.status.value" ng-options="status.value as status.name for status in statuses" style="padding-top:0%;">
                        </select>
                    </div>
                </div>

                <span class="label scrm_blue_b left text-uppercase">Phone</span>
                <!--MOBILE PHONE-->
                <span class="label label-warning left" ng-show="phone_mobile_status">Too Short</span>
                <span class="label label-warning left" ng-show="form.phone_mobile.$error.maxlength">Too Long</span>
                <div class="form-group">
                    <div class="input-group">
                        <input type="tel" name="phone_mobile" class="cstm-bg-sec form-control input-sm" placeholder="Mobile" ng-maxlength="13" ng-model="lead.phone_mobile.value"  phone="lead.phone_mobile.value" status="phone_mobile_status">
                    </div>
                </div>
                
                <!--OTHER PHONE-->
                <span class="label label-warning left" ng-show="phone_other_status">Too Short</span>
                <span class="label label-warning left" ng-show="form.phone_other.$error.maxlength">Too Long</span>
                <div class="form-group">
                    <div class="input-group">
                        <input type="tel" name="phone_other" class="cstm-bg-sec form-control input-sm" placeholder="Other Phone" ng-maxlength="13" ng-model="lead.phone_other.value"  phone="lead.phone_other.value" status="phone_other_status">
                    </div>
                </div>
                
                <!--WORK PHONE-->
                <span class="label label-warning left" ng-show="phone_work_status">Too Short</span>
                <span class="label label-warning left" ng-show="form.phone_work.$error.maxlength">Too Long</span>
                <div class="form-group">
                    <div class="input-group">
                        <input type="tel" name="phone_work" class="cstm-bg-sec form-control input-sm" placeholder="Work Phone" ng-maxlength="13" ng-model="lead.phone_work.value"  phone="lead.phone_work.value" status="phone_work_status">
                    </div>
                </div>

 		<!--EMAIL-->
                <span class="label label-danger left" ng-show="form.email1.$dirty && form.email1.$invalid">Invalid Email</span>                
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" name="email1" class="cstm-bg-sec form-control input-sm" placeholder="Email" ng-model="lead.email1.value" >
                    </div>
                </div>

                
                <span class="label scrm_red left" style="font-size:15px;"  ng-show="form.account_name.$error.required">*</span>


                <span class="label label-warning left" ng-show="form.account_name.$error.minlength">Too Short</span>
                <span class="label label-danger left" ng-show="form.account_name.$dirty && form.account_name.$invalid">Invalid Account Name</span>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="account_name" class="cstm-bg-sec form-control input-sm" placeholder="Account Name" ng-model="lead.account_name.value" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9 ]+$/" required >
                    </div>
                </div>

                <span class="label scrm_blue_b text-uppercase left">Select Assigned To <i class="fa fa-chevron-down fa-fw"></i></span>
                <div class="form-group">
                    <div class="input-group">
                        <select class="cstm-bg-sec form-control input-sm" ng-model="lead.assigned_user_id.value" ng-options="user.name_value_list.id.value as user.name_value_list.name.value for user in users" style="padding-top:0%;"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <textarea rows="6" type="text" name="description" class="cstm-bg-sec form-control input-sm" placeholder="Description" ng-model="lead.description.value" ng-minlength="3"></textarea>
                    </div>
                </div>
                
                <!--BILLING ADDRESS-->
                <!--BILLING ADDRESS-->
                <!--BILLING ADDRESS-->

                <span class="label scrm_blue_b text-uppercase left">Primary Address</span>
                <!--STREET-->
                <div class="form-group">
                    <div class="input-group">
                        <input ng-keyup="copyFromPrimaryReal(lead)" type="text" name="primary_street" class="cstm-bg-sec form-control input-sm" placeholder="Street" ng-model="lead.primary_address_street.value">
                    </div>
                </div>
                <!--CITY-->
                <div class="form-group">
                    <div class="input-group">
                        <input ng-keyup="copyFromPrimaryReal(lead)" type="text" name="primary_city" class="cstm-bg-sec form-control input-sm" placeholder="City" ng-model="lead.primary_address_city.value">
                    </div>
                </div>
                <!--STATE-->
                <div class="form-group">
                    <div class="input-group">
                        <input ng-keyup="copyFromPrimaryReal(lead)" type="text" name="primary_state" class="cstm-bg-sec form-control input-sm" placeholder="State" ng-model="lead.primary_address_state.value">
                    </div>
                </div>

                <!--POSTAL CODE-->
                <div class="form-group">
                    <div class="input-group">
                        <input ng-keyup="copyFromPrimaryReal(lead)" type="tel" name="primary_postalcode" class="cstm-bg-sec form-control input-sm" placeholder="Postal Code" ng-model="lead.primary_address_postalcode.value">
                    </div>
                </div>


                <!--COUNTRY-->
                <div class="form-group">
                    <div class="input-group">
                        <input ng-keyup="copyFromPrimaryReal(lead)" type="text" name="primary_country" class="cstm-bg-sec form-control input-sm" placeholder="Country" ng-model="lead.primary_address_country.value">
                    </div>
                </div>
             
                <!--BILLING ADDRESS-->
                <!--BILLING ADDRESS-->
                <!--BILLING ADDRESS-->

                <!--SHIPPING ADDRESS-->
                <!--SHIPPING ADDRESS-->
                <!--SHIPPING ADDRESS-->
                <!--<h4 class="text-center">-->
                <span class="label scrm_blue_b text-uppercase left">Alternate Address</span>
                <span ng-click="copyFromPrimary(lead)" class="label right" ng-class="{'label-success': cfbStatus, 'label-default' : !cfbStatus }">Copy From Primary</span>
                <!--</h4>-->
                <!--STREET-->
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="alt_street" class="cstm-bg-sec form-control input-sm" placeholder="Street" ng-model="lead.alt_address_street.value">
                    </div>
                </div>
                <!--CITY-->
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="alt_city" class="cstm-bg-sec form-control input-sm" placeholder="City" ng-model="lead.alt_address_city.value">
                    </div>
                </div>
                <!--STATE-->
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="alt_state" class="cstm-bg-sec form-control input-sm" placeholder="State" ng-model="lead.alt_address_state.value">
                    </div>
                </div>

                <!--POSTAL CODE-->
                <div class="form-group">
                    <div class="input-group">
                        <input type="tel" name="alt_postalcode" class="cstm-bg-sec form-control input-sm" placeholder="Postal Code" ng-model="lead.alt_address_postalcode.value">
                    </div>
                </div>

                <!--COUNTRY-->
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="alt_country" class="cstm-bg-sec form-control input-sm" placeholder="Country" ng-model="lead.alt_address_country.value">
                    </div>
                </div>


<!--                <button class="btn btn-default btn-block btn-lg btn-danger" id="noLoginUser" ng-click="reset()" >Reset</button>-->

                <button class="btn btn-default btn-lg btn-danger col-xs-5 pull-left" id="noLoginUser"  data-toggle="modal" data-target="#resetModal" >Reset</button>
<button ng-hide="form.$invalid" id="saveLead" data-loading-text="Saving..." ng-click="save(lead)" class="btn btn-default btn-lg btn-success col-xs-5 pull-right save">Save</button>

            </div>
        </div>
        <!--SCROLLER-->
    </div>
    <!--WRAPPER-->
</form>
<!--FORM-->
<!--FOOTER-->
<footer class="container-fluid">
    <nav id="footer" class="main-navigation text-center" role="navigation">
        <ul class="text-center">
            <li>
                <a>
                    <small ng-show="form.$invalid" class="text-warning col-xs-12">Some Fields Required.</small>
                    <small ng-show="!form.$invalid" class="text-success">Everything looks okay.</small>
                </a>
            </li>
        </ul>
    </nav>
</footer>
<!--FOOTER-->
<!--Back Modal-->
<div ng-include="'partials/back.html'"></div>
<!--Reset Modal-->
<div ng-include="'partials/reset.html'"></div>
