<div class="modal fade bs-example-modal-sm" id="backModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title" id="backModalLabel">Alert</h2>
            </div>
            <div class="modal-body text-center">
                <h4>Navigating back from this page may lead to <b class="text-danger">loss of data</b>.</h4>
                <h4>Are you sure you want to go back?</h4>
            </div>
            <div class="modal-footer">
                <button back-button class="btn btn-danger pull-left"><i class="fa fa-angle-left fa-fw fa-lg"></i><b>Yes, Go Back</b></button>
                <button data-dismiss="modal" class="btn btn-success pull-right"><b>No, Stay Here</b></button>
            </div>
        </div>
    </div>
</div>