<!--NAVIGATION-->
<nav id="header" class="main-navigation clearfix text-center">
    <ul class="left">
        <li class="current-menu-item"><a ui-sref="home.dashboard"><i class="fa fa-home fa-lg"></i></a></li>
    </ul>
    <ul>
        <li>
            <h4><b>Simple CRM</b></h4>
        </li>
    </ul>
    <ul class="right">
        <li><a ui-sref="create"><i class="fa fa-plus fa-lg"></i></a></li>
        <li><a ui-sref="logout"><i class="fa fa-sign-out fa-lg"></i></a></li>
    </ul>
</nav>
<!--NAVIGATION-->