<div class="modal fade bs-example-modal-sm" id="resetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title" id="resetModalLabel">Alert</h2>
            </div>
            <div class="modal-body text-center">
                <h4>Reseting may lead to <b class="text-danger">loss of data</b>.</h4>
<!--                <h4>Are you sure you want to reset?</h4>-->
                <h4>Would you like to reset?</h4>
            </div>
            <div class="modal-footer">
                <button reset-button data-dismiss="modal" class="btn col-xs-4 btn-lg btn-danger pull-left"><b>Yes</b></button>
                <button data-dismiss="modal" class="btn col-xs-4 btn-lg btn-success pull-right"><b>No</b></button>
            </div>
        </div>
    </div>
</div>
