<div class="modal fade bs-example-modal-sm" id="signoutModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title scrm_orange" id="signoutModalLabel">Alert</h2>
            </div>
            <div class="modal-body text-center">             
<!--               reset-button          back-button -->
                <h4><b class="text-info">Are you sure you want to Sign Out?</b></h4>
            </div>
            <div class="modal-footer">
                <button signout-button data-dismiss="modal" class="btn col-xs-4 btn-lg btn-danger pull-left"><b>Sign Out</b></button>
                <button data-dismiss="modal" class="btn col-xs-4 btn-lg btn-success pull-right"><b>Cancel</b></button>
            </div>
        </div>
    </div>
</div>
