<!--HOME-->
<div ng-show="loginData.loggedSessionID">
    <div ui-view></div>
</div>

<div class="container-fluid" ng-hide="loginData.loggedSessionID">
    <br>
    <div class="alert alert-danger col-md-4 col-md-offset-4 text-center">
        <h4>It appears you have been logged out.</h4>
        <br>
        <h4>To go back to the login page click on the button below.</h4>
        <br>
        <button ui-sref="login" class="btn btn-lg btn-success"><i class="fa fa-user fa-fw fa-lg"></i> Login</button>
    </div>
</div>