/* 
    Created on : 27 Jun, 2014, 8:43:21 AM
    Author     : Amit Tiwari <amit.t@bhea.com>
*/
@import "compass";
@import "bootstrap";
@import "font-awesome";
.list-view{ color: black; }
.list-view:hover{color: green; }
.list-view:focus{color: green; }
/* NAVIGATION */
.main-navigation {
    width: 100%;
    margin-left:auto; 
    margin-right:auto; 
    border-style:solid; 
    border-width: 0 0 1px 0; 
    border-color: #eee; 
    border-bottom: 4px solid #ccc; 
    background: #333;
}
.main-navigation ul { display: inline-block; list-style:none; padding:0; margin-top:0; margin-bottom: 0; }
.main-navigation ul li { position:relative; display:inline-block; padding: 0; /*margin-right: -4px;*/ font-size:.9em; /*text-transform: uppercase;*/ }
.main-navigation > ul > li > a { border-bottom: 4px solid #333; margin-bottom: -3px; }

/*For less than 4 Inch Devices*/
@media only screen and (min-width: 200px) and (max-width: 359px) {
    .main-navigation ul li a { display:inline-block; padding-top: 1.1em; padding-right: 18px; padding-left: 18px; padding-bottom: 6px;}
    select{
        height:50px;
        width:100%;
        border: 1px solid lightgray;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        -webkit-appearance: listbox;
        background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==); /* a simple arrow img */
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 20px;
        padding-left: 5px;
    }
    .noPhone{
        display: none;
    }
}

/*For Nexus 4 and 5 and 6 Inch devices*/
@media only screen and (min-width: 360px) and (max-width: 599px) {
    .main-navigation ul li a { display:inline-block; padding-top: 1.4em; padding-right: 18px; padding-left: 18px; padding-bottom: 12px;}
    .main-navigation ul li h4 {padding-top: 5px;}
    .cstm-nav-no-buttons h4{padding-bottom: 4px;}

    select{
        height:50px;
        width:100%;
        border: 1px solid lightgray;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        -webkit-appearance: listbox;
        background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==); /* a simple arrow img */
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 20px;
        padding-left: 5px;
    }
    .noPhone{
        display: none;
    }
}

/*For Nexus 7 and Higher*/
@media only screen and (min-width: 600px) and (max-width: 1300px) {
    .main-navigation ul li a { display:inline-block; padding:1.1em 2em; }
    .main-navigation ul li h4 {padding-top: 5px;}
    .cstm-nav-no-buttons h4{padding-bottom: 2px;}
}

/*
.main-navigation > ul > li:nth-child(3) > a { border-color: #FB805F; }
.main-navigation > ul > li:nth-child(4) > a { border-color: #E85452; }
.main-navigation > ul > li:nth-child(5) > a { border-color: #FFB170; }
*/

.main-navigation > ul > li .nav-pill-1{
    border-color: #C80021;
}

.main-navigation > ul > li .nav-pill-2{
    border-color: #FBE075;
}

.main-navigation > ul > li .nav-pill-3{
    border-color: #1AC9DB;
}

.main-navigation > ul > li .nav-pill-4{
    border-color: #76E9C9;
}

.main-navigation > ul > li .nav-pill-5{
    border-color: #F1FF72;
}

.main-navigation > ul > li .nav-pill-6{
    border-color: #E72D3B;
}
.main-navigation > ul > li .nav-pill-7{
    border-color: #E85452;
}

.main-navigation ul li, .main-navigation ul li a { color:#ddd; }
.main-navigation > ul > li > a:hover, .main-navigation > ul > li > a.selected { /*border-bottom-color: #000;*/ background: #222; }

select{
    font-size: $font-size-large;
}
select option:first-child{color: blue;}
/*select option{color: #555;} // bootstrap default color*/

input.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
    color: #fff;
}
input.transparent-input:focus{
    border:none;
    outline: none;
}
input.transparent-input::-webkit-input-placeholder {
    text-align:center;
}

input.transparent-input:-moz-placeholder { /* Firefox 18- */
    text-align:center;  
}

input.transparent-input::-moz-placeholder {  /* Firefox 19+ */
    text-align:center;  
}

input.transparent-input:-ms-input-placeholder {  
    text-align:center; 
}
.pagination-markers{
    padding-top: 13px;
}
a { color: #096; text-decoration:none; }
a:hover { color: #48B814; text-decoration: none; }
a:focus { outline: none; }

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

[placeholder]:focus::-webkit-input-placeholder{
    transition: opacity 0.5s 0.5s ease; 
    opacity: 0;
}

[placeholder]:focus:-moz-placeholder { /* Firefox 18- */
    color: #CCCCCC;
    position:relative;
    padding-left:0;
    -moz-transition: padding 0.5s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}
.right{
    float: right;
}
.left{
    float: left;
}

.cstm-modal-top{
    top: 10%;
}

.cstm-modal-partial-top {
    top: 25%;
}

.cstm-modal-mid {
    top: 50%;
}

.input-group-addon { width: 40px; } // Or whatever width you want
.input-group { width: 100%; }

snap-content,
[snap\:content],
[snap-content],
[data-snap-content],
[x-snap-content],
.snap-content,
.x-snap-content,
snap-drawers,
[snap\:drawers],
[snap-drawers],
[data-snap-drawers],
[x-snap-drawers],
.snap-drawers,
.x-snap-drawers,
.snap-drawers,
.snap-content {
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    width: auto;
    left: 0;
    right: 0;
}
snap-drawer,
[snap\:drawer],
[snap-drawer],
[data-snap-drawer],
[x-snap-drawer],
.snap-drawer,
.x-snap-drawer,
.snap-drawer {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    overflow: auto;
    -webkit-transition: top 0.2s linear;
    -moz-transition: top 0.2s linear;
    -o-transition: top 0.2s linear;
    transition: top 0.2s linear;
    -webkit-transition: bottom 0.2s linear;
    -moz-transition: bottom 0.2s linear;
    -o-transition: bottom 0.2s linear;
    transition: bottom 0.2s linear;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    width: 265px;
}
.snap-content {
    z-index: 2;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.snap-drawer-left {
    left: 0;
    z-index: 1;
    border-right: 1px solid $list-group-border;
    overflow-x:hidden;
}
.snap-drawer-right {
    right: 0;
    z-index: 1;
    border-left: 1px solid $list-group-border;
    overflow-x:hidden;
}
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
    display: none;
}
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
    width: 100%;
}

.snap-content {
    background-color: #efefef;
}

.cstm-bg-pri{
    background: #efefef;
}
.cstm-bg-sec{
    background: #fff;
}

.cstm-text-clr-pri{
    color :gold;
}

.cstm-col-sec{
    color: #fff;
}
.cstm-bg-transparent{
    background-color: transparent;
}
.cstm-hr {
    margin-top:    $line-height-computed-half;
    margin-bottom: $line-height-computed;
    border: 0;
    border-top: 1px solid $hr-border;
}
.cstm-detail-grid-left{
    padding-left: 8px;
}
.cstm-no-margin-bottom{
    margin-bottom: 0px;
}

.cstm-list-group-item-trimmed{
    position: relative;
    display: block;
    // Place the border on the list items and negative margin up for better styling
    margin-bottom: -1px;
    background-color: $list-group-bg;
    border: 1px solid $list-group-border;
}

.cstm-list-group-item-trimmed {
    // Disabled state
    &.disabled,
    &.disabled:hover,
        &.disabled:focus {
        background-color: $list-group-disabled-bg;
        color: $list-group-disabled-color;

        // Force color to inherit for custom content
        .list-group-item-heading {
            color: inherit;
        }
        .list-group-item-text {
            color: $list-group-disabled-text-color;
        }
    }
}

#header {
    position:absolute; z-index:2;
    top:0;
    left:0;
    width:100%;
}

#footer {
    position:absolute; z-index:2;
    bottom:0;
    left:0;
    width:100%;
}

#header-transparent {
    position:absolute;
    z-index:2;
    bottom:0;
    left:0;
    width:100%;
    background: transparent;
}

#wrapper {
    position:absolute;
    z-index:1;
    top:45px; 
    bottom:48px; 
    width:100%;
    overflow:auto;
}

#scroller {
    position:absolute;
    z-index:1;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding-top: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 4);
    padding-bottom: ($grid-gutter-width / 2);
    padding-left:  ($grid-gutter-width / 4);
}

#scroller-no-gutter-top{
    position:absolute;
    z-index:1;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding-right: ($grid-gutter-width / 4);
    padding-bottom: ($grid-gutter-width / 2);
    padding-left:  ($grid-gutter-width / 4);
}

#scroller-no-gutter-top-side{
    position:absolute;
    z-index:1;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding-bottom: ($grid-gutter-width / 2);
}

.nav-tabs {
    > li {
        float: left;
        // Make the list-items overlay the bottom border
        margin-bottom: -1px;

        // Actual tabs (as links)
        > a {
            margin-right: 2px;
            line-height: $line-height-base;
            border-radius: $border-radius-base $border-radius-base 0 0;
            &:hover {
                border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
            }
        }

        // Active state, and its :hover to override normal :hover
        &.active > a {
            &,
            &:hover,
                &:focus {
                color: $nav-tabs-active-link-hover-color;
                background-color: $nav-tabs-active-link-hover-bg;
                border-bottom: 1px solid $nav-tabs-active-link-hover-border-color;
                border-bottom-color: black;
                cursor: default;
            }
        }
    }
    // pulling this in mainly for less shorthand
    &.nav-justified {
        @extend .nav-justified;
        @extend .nav-tabs-justified;
    }
}

// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: $border-radius-base;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border-bottom: 1px solid $nav-tabs-justified-link-border-color;
  }

  @media (min-width: $screen-sm-min) {
    > li > a {
      border-bottom: 1px solid $nav-tabs-justified-link-border-color;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: black;
    }
  }
}